html, body {
	margin: 0;
	padding: 0;
}

.option-section {
	padding: 10px;
}

.option-wrapper {
	display: inline-flex;
	width: calc(100% - 220px);
	flex-direction: row;
	justify-content: space-between;
	margin: 0 30px;
}

.label {
	display: inline-block;
	font-weight: bold;
	width: 150px;
}

#badgeColor {
	width: 20%;
}