html, body {
	margin: 0;
}

body.narrow {
	width: 400px;
}
body.normal {
	width: 500px;
}
body.wide {
	width: 600px;
}

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}

/* Header Section */
.tabs-header {
	padding: 10px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid darkblue;
	font-size: 15px;
}

.tabs-header div {
	padding: 5px 0;
	display: block;
	width: 100%;
	text-align: center;
	border: 1px solid darkblue;
}

#tabs-all, #tabs-duplicate {
	border-right: none;
}

#tab-count {
	border: none;
}

#tabs-all:hover, #tabs-duplicate:hover, #tabs-search:hover {
	background-color: #ebf6f9;
}

#tabs-all.active, #tabs-duplicate.active, #tabs-search.active {
	background-color: inherit;
	font-weight: bold;
}

/* Tab List Section */
#tabs-list-wrapper {
	height: 530px;
}

#tabs-list {
	width: 100%;
	height: 482px;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}

#tabs-list.no-search {
	height: 530px;
}

#tabs-list.small {
	font-size: 12px;
}
#tabs-list.medium {
	font-size: 16px;
}
#tabs-list.large {
	font-size: 20px;
}

#tabs-list li {
	position: relative;
	display: block;
	padding: 5px;
	padding-left: 10px;
}

#tabs-list li:hover {
	background-color: #ebf6f9;
}

#tabs-list li.active {
	background-color: inherit;
	font-weight: bold;
}

/* LI Image */
#tabs-list li img {
	margin-right: 5px;
}

#tabs-list.small li img {
	width: 22px;
	height: 22px;
}
#tabs-list.medium li img {
	width: 26px;
	height: 26px;
}
#tabs-list.large li img {
	width: 30px;
	height: 30px;
}

/* LI Context */
#tabs-list li span {
	display: inline-block;
	vertical-align: text-bottom;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

body.narrow #tabs-list li span {
	width: 325px;
}
body.normal #tabs-list li span {
	width: 425px;
}
body.wide #tabs-list li span {
	width: 525px;
}

#tabs-list.small li span {
	height: 22px;
}
#tabs-list.medium li span {
	height: 26px;
}
#tabs-list.large li span {
	height: 30px;
}

#tabs-list li span.discarded {
	color: #777;
}

/* Delete Button */
.delete-btn {
	display: none;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 6px;
	right: 0;
	background-color: inherit;
	cursor: pointer;
}

#tabs-list li:hover .delete-btn {
	display: block;
}

#tabs-list.small li .delete-btn {
	margin: 0;
}
#tabs-list.medium li .delete-btn {
	margin: 2px 0;
}
#tabs-list.large li .delete-btn {
	margin: 4px 0;
}

.delete-btn::before, .delete-btn::after {
    display: block;
	width: 22px;
    height: 4px;
	position: absolute;
    top: 9px;
    left: 0px;
    background-color: darkblue;
    content: '';
}
.delete-btn::after{
    transform: rotate(45deg);
}
.delete-btn::before{
    transform: rotate(-45deg);
}

/* Search Input Section */
#search-input {
	box-sizing: border-box;
	width: calc(100% - 20px);
	margin: 10px;
	padding: 5px 10px;
	border: 1px solid darkblue;
}
#search-input:focus {
	outline: none;	
}